Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.idea/.idea.ThievesTowers/.idea/vcs.xml
/.idea/.idea.ThievesTowers/.idea/.name
/.vsconfig
/.idea/.idea.ThievesTowers/.idea/encodings.xml
/.idea/.idea.ThievesTowers/.idea/indexLayout.xml
